@use "../../../../shared/styles/variable" as *;

.upload-zone {
    display: flex;
    align-items: center;
    gap: $space-5;
    flex-wrap: wrap;

    .ant-upload-drag {
        flex: 1;
        min-width: 260px;
    }

    &__actions {
        display: flex;
        gap: $space-2;
        flex-shrink: 0;
    }
}
